<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
        tools:targetApi="31" >

        <activity

            android:name=".activity.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.LoginActivity"
            android:exported="true">

        </activity>

        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.DashboardActivity"
            android:exported="true">

        </activity>
        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.ProductInfoActivity"
            android:exported="true">

        </activity>
        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.ExpenseActivity"
            android:exported="true">

        </activity>
        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.InvoiceDetailActivity"
            android:exported="true">

        </activity>
        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.FinalDetailsActivity"
            android:exported="true">

        </activity>
        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.PaymentDetailsActivity"
            android:exported="true">

        </activity>
        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.ExpenseListActivity"
            android:exported="true">

        </activity>
        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.InvoiceGenerateActivity"
            android:exported="true">

        </activity>
        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.StockListActivity"
            android:exported="true"></activity>

        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.SalesReportActivity"
            android:exported="true">

        </activity>
        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.ExpenseReportActivity"
            android:exported="true">

        </activity>
        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.SalesListActivity"
            android:exported="true">

        </activity>
        <activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.ProductListingActivity"
            android:exported="true">

        </activity><activity
            android:theme="@style/Theme.BhavarlalTrilokchandhiAndSonsPLtd"
            android:name=".activity.EditInvoiceByPartActivity"
            android:exported="true">

        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>